<nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
    <div class="d-flex align-items-center">
        <a class="navbar-brand" href="../index.html">
            <div class="d-flex align-items-center py-3"><img class="me-2"
                                                             src="/static/assets/img/icons/spot-illustrations/falcon.png"
                                                             alt="" width="40"/><span
                    class="font-sans-serif">falcon</span>
            </div>
        </a>
    </div>
    <!-- Menu items -->
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content scrollbar">
            <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                class="fas fa-home"></span></span><span class="nav-link-text">Home</span></div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/merge-authors">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                class="fas fa-book"></span></span><span class="nav-link-text">Merge Authors</span></div>
                    </a>
            </ul>
        </div>
    </div>
</nav>