{% extends 'base.html' %}

{% block content %}
    <!-- Header -->
    <div class="card mb-3">
        <div class="bg-holder d-none d-lg-block bg-card"
             style="background-image:url(/static/assets/img/icons/spot-illustrations/corner-4.png);">
        </div>
        <!--/.bg-holder-->

        <div class="card-body position-relative">
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="mb-0">Guide - common problems</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">How to check a DOI</h5>
            <p>When someone says something is wrong with an article, follow these steps to check if there is a problem.</p>
            <ol>
                <li>Get the DOI from the ticket, or if the person links to an article, go to the article and find the DOI.</li>
                <li>Enter the DOI into the dashboard so you can see the details.</li>
                <li>Go to the "official" version of the article, which is found by clicking the blue arror next to the DOI. This
                 is the same as going to https://doi.org/exampledoi</li>
                <li>Look at the article title, authors, and see if you have to pay to access the article.</li>
                <li>Go back to the dashboard and look at the link that we have under Best OA Location -> URL. Visit this link.
                Does the article it goes to match the official version? If the article is free on the official version then
                we should point to that.</li>
                <li>If the official version of the article is not free, are we pointing to another version? Does it match the
                title and authors (generally)? If so then everything is correct, if not, try refreshing.</li>
                <li>After refreshing, has the link changed? If you have to pay to access the article, and the link we are
                pointing to is an incorrect article, then click Close DOI.</li>
                <li>If the official version is free and we are not pointing to it, and refreshing does not change anything, then there
                is nothing else you can do. Likely we are having problems scraping the official site. Leave the ticket open.</li>
            </ol>
        </div>
{% endblock %}