<div class="tab-pane fade" id="tab-journal" role="tabpanel"
     aria-labelledby="journal-tab">
    <div class="mt-3">
        <table class='table table-borderless'>
            <tbody>
            <tr>
                <td>Name</td>
                <td>{{ result.journal_name }}</td>
            </tr>
            <tr>
                <td>Publisher</td>
                <td>{{ result.publisher }}</td>
            </tr>
            <tr>
                <td>Journal is Open Access</td>
                <td>{{ result.journal_is_oa }}</td>
            </tr>
            <tr>
                <td>Journal is In DOAJ</td>
                <td>{{ result.journal_is_in_doaj }}</td>
            </tr>
            <tr>
                <td>ISSN-L</td>
                <td>{{ result.journal_issn_l }}</td>
            </tr>
            <tr>
                <td>ISSNs</td>
                <td>{{ result.journal_issns }}</td>
            </tr>
            </tbody>
        </table>
        <form method="get" action="/journal-oa-year-override">
            <p>Mark this journal as open access beginning with this year:</p>
            <input type="hidden" name="issn_l" value="{{ result.journal_issn_l }}">
            <input name="year" type="number" placeholder="Year">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>