{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3">
        <div class="bg-holder d-none d-lg-block bg-card"
             style="background-image:url(/static/assets/img/icons/spot-illustrations/corner-4.png);">
        </div>
        <!--/.bg-holder-->

        <div class="card-body position-relative">
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="mb-0">Unpaywall Dashboard</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
            <div class="card-header">
              <h5 class="mb-0" data-anchor="data-anchor" id="quick-start">Available Tasks</h5>
            </div>
            <div class="card-body bg-light">
              <p class="mb-0"><a href="/refresh-doi">Refresh a DOI</a></p>
            </div>
          </div>
{% endblock %}