{% extends 'base.html' %}

{% block content %}
    <!-- Header -->
    <div class="card mb-3">
        <div class="bg-holder d-none d-lg-block bg-card"
             style="background-image:url(/static/assets/img/icons/spot-illustrations/corner-4.png);">
        </div>
        <!--/.bg-holder-->

        <div class="card-body position-relative">
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="mb-0">Unpaywall Dashboard</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Submit DOI Form -->
    {% if not result and not not_in_unpaywall %}
        {% include "index_doi_form.html" %}
    {% endif %}

    <!-- Results -->
    {% if result %}
        <div class="card mb-3">
            <!-- Result header -->
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0">DOI {{ doi }} <a href="{{ result.doi_url }}" target="_blank">
                            <icon class="fas fa-external-link-square-alt"></icon></a> <a href="https://api.unpaywall.org/v2/{{ result.doi_url }}?email=support@unpaywall.org" target="_blank">
                            <icon class="fas fa-code"></icon>
                        </a></h5>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="flex-grow-1">
                            <button class="btn btn-primary btn-sm" onclick="refreshDoi()" id="refreshDoiButton">Refresh
                            </button>
                            {% if manually_closed %}
                                <a href="/open-doi?doi={{ doi }}" class="btn btn-success btn-sm">Open DOI</a>
                            {% else %}
                                <a href="/add-manual?doi={{ doi }}" class="btn btn-danger btn-sm">Close DOI</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <h5>{{ result.title }}</h5>
                        <p>Published by {{ result.publisher }} in {{ result.journal_name }}
                            on {{ result.published_date }}</p>
                        <p>{% if result.is_oa %}
                            <span class="badge badge-soft-success">Open Access</span>
                            {% if result.oa_status == "gold" %}
                                <span class="badge" style="color: black; background-color: #FFD700">{{ result.oa_status }}</span>
                            {% elif result.oa_status == "green" %}
                                <span class="badge bg-success">{{ result.oa_status }}</span>
                            {% elif result.oa_status == "bronze" %}
                                <span class="badge" style="background-color: #CD7F32">{{ result.oa_status }}</span>
                            {% else %}
                                <span class="badge bg-info">{{ result.oa_status }}</span>
                            {% endif %}
                        {% else %}
                            <span class="badge badge-soft-danger">Closed</span>
                        {% endif %}</p>
                        <div class="row">
                            <div class="col-12">
                                <div class="overflow-hidden mt-4">
                                    {% include "index_tab_menu.html" %}
                                    <div class="tab-content" id="myTabContent">
                                        {% include "index_tab_best_oa.html" %}
                                        {% include "index_tab_journal.html" %}
                                        {% include "index_tab_other_oa.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-top">
                    <a class="btn btn-falcon-default btn-sm" href="/">New Search</a>
                </div>
            </div>
        </div>
        {% include "index_script.html" %}
    {% elif not_in_unpaywall %}
        <div class="card mb-3">
            <div class="card-body">
                <h5>DOI {{ doi }} is not in Unpaywall</h5>
                <br>
                <p><a href="https://api.crossref.org/works/{{doi}}" target="_blank">Is it in crossref</a>?</p>
                <p>If not check the help article <a href="https://support.unpaywall.org/support/solutions/articles/44001900286-which-dois-does-unpaywall-cover-">here</a>.</p>
            </div>
            <div class="card-footer border-top">
                <a class="btn btn-falcon-default btn-sm" href="/">New Search</a>
            </div>
        </div>
    {% endif %}
{% endblock %}