<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation"><a
            class="nav-link ps-0 active" id="best-oa-tab"
            data-bs-toggle="tab" href="#tab-best-oa" role="tab"
            aria-controls="tab-best-oa" aria-selected="true">Best OA
        Location</a>
    </li>
    <li class="nav-item" role="presentation"><a
            class="nav-link px-2 px-md-3" id="journal-tab"
            data-bs-toggle="tab" href="#tab-journal" role="tab"
            aria-controls="tab-journal" aria-selected="false"
            tabindex="-1">Journal</a></li>
    <li class="nav-item" role="presentation"><a
            class="nav-link px-2 px-md-3" id="other-oa-tab"
            data-bs-toggle="tab" href="#tab-other-oa" role="tab"
            aria-controls="tab-other-oa" aria-selected="false"
            tabindex="-1">Other OA Locations</a></li>
</ul>