{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                    <h5 class="mb-0" data-anchor="data-anchor">Refresh DOI</h5>
                </div>
            </div>
        </div>
        <div class="card-body bg-light">
            <form action="/refresh-doi" method="post">
                {{ form.csrf_token }}
                <div class="mb-3">
                    {{ form.doi.label(class="form-label") }}
                    {{ form.doi(class="form-control") }}
                    {% if form.doi.errors %}
                        <ul class="errors">
                            {% for error in form.doi.errors %}
                                <li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
    {% if results %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0" data-anchor="data-anchor">Results</h5>
                    </div>
                </div>
            </div>

<div class="table-responsive scrollbar">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">DOI</th>
        <th scope="col">Status</th>
        <th class="text-end" scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
        {%  for result in results %}
          <tr>
            <td>{{ result.id }}</td>
            <td>{{ result.status }}</td>
            <td>{{ result.result }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
        </div>
    {% endif %}
{% endblock %}