{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                    <h5 class="mb-0" data-anchor="data-anchor">Refresh DOI</h5>
                </div>
            </div>
        </div>
        <div class="card-body bg-light">
            <form action="/refresh-doi" method="post">
                {{ form.csrf_token }}
                <div class="mb-3">
                    {{ form.doi.label(class="form-label") }}
                    {{ form.doi(class="form-control") }}
                    {% if form.doi.errors %}
                        <ul class="errors">
                            {% for error in form.doi.errors %}
                                <li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
    {% if output %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="mb-0" data-anchor="data-anchor" id="quick-start">Result</h5>
            </div>
            <div class="card-body bg-light">
                <p class="mb-0">{{ output }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}