{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                    <h5 class="mb-0" data-anchor="data-anchor">Refresh DOI</h5>
                </div>
            </div>
        </div>
        <div class="card-body bg-light">
            <form action="/refresh-doi" method="post">
                {{ form.csrf_token }}
                <div class="mb-3">
                    {{ form.doi.label(class="form-label") }}
                    {{ form.doi(class="form-control") }}
                    {% if form.doi.errors %}
                        <ul class="errors">
                            {% for error in form.doi.errors %}
                                <li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
    {% if results %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0">Recent Results</h5>
                    </div>
                </div>
            </div>

            <div class="table-responsive scrollbar">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">DOI</th>
                        <th scope="col">Status</th>
                        <th class="text-end" scope="col">Result</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in results %}
                        <tr>
                            <td>{{ result.doi }}</td>
                            <td>{{ result.status }}</td>
                            <td>
                                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                        data-bs-target="#scrollinglongcontent">Details
                                </button>
                                <div class="modal fade" id="scrollinglongcontent" data-keyboard="false" tabindex="-1"
                                     aria-labelledby="scrollinglongcontentLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="scrollinglongcontentLabel">Details</h5>
                                                <button class="btn-close" type="button" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body modal-dialog modal-dialog-scrollable mt-0">
                                                <p>
                                                    {{ result.result }}
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}